#container {
    
    background-image: url("../img/pattern.png");
    background-color:deepskyblue;
    
}

 #logo {

    height: 150px;

}

h1 {

    font-size: 50px;

}

#booleaner {

        color:dodgerblue;

}

#date {

        color:darkgray;
        font-size: 10px;
        margin-bottom: 20px;

}

.didascalia {

      font-size: 10px;             


}